:root {
  --primary: #3d4425;
  --primary-light: #d3d47b;
  --primary-foreground: #2c1b2d;
  --secondary: #5e416d;
  --secondary-light: #b49fd0;
  --secondary-extra-light: #ebc6d2;
}

/* light green */
/* --primary: #b8d6c0; */
/* pale yellow */
/* --primary-light: #f1f2d6; */
/* dark green */
/* --primary-foreground: #143109; */

/* purple */
/* --secondary: #81559b; */
/* light purple */
/* --secondary-light: #a97cc4; */
/* pale purple */
/* --secondary-extra-light: #e7e7f9; */
